* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --color : white ;
}
body {
    /* background: linear-gradient(300deg, orange, skyblue); */
    background: darkslategrey;
    
}
nav {
    margin-top: 10px;
}
nav .nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 3.125rem; 
    width: 100%;
    background-color:dimgray;
    font-size: 0.813rem;
    /* position: fixed; */
    z-index: 1;
    border-radius: 1.25rem;
    border: 3px solid black;
}

nav .nav-bar .logo {
    font-size: 1.125rem;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    color :chartreuse;
}

nav .nav-bar-menu {
    margin-top: auto;
    margin-bottom: auto;
}

nav .nav-bar-menu a,
nav .social-link a {
    padding-left: 1.563rem;
    color: var(--color);
    transition: all 0.5s ease;
    
}  

nav .social-link {
    margin-top: auto;
    margin-bottom: auto;
}

nav .responsive-navbar {
    margin-top: auto;
    margin-bottom: auto;
    color: white;
}

nav .social-link a:hover {
    color: skyblue;
}

nav .nav-bar-menu a:hover {
    color: coral;
}

nav .nav-bar-menu a.active {
    color: coral;
}

#toggler,
.nav-bar label {
    display: none;
}

/* main content */

.main-content {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    height: 53.125rem;
    width: 90%;
    margin: auto;
    border: 5px solid black;
    border-radius: 60px;
    background-color: whitesmoke;
    /* z-index: -2; */
    margin-top: 10px;
}

.main-content .about {
    grid-column: 2/3;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.25rem;
    padding-top: 3.125rem;
    z-index: 0;
}

.main-content .about h2 {
    font-size: 22px;
    font-weight: 400;
}

.main-content .about h1 {
    font-size: 40px;
    font-weight: 700;
}

.main-content .about p {
    font-size: 20px;
    color: coral;
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-content .about .place {
    font-size: 14px;
    color: black;
    margin-top: 10px;
}

.main-content .about .btn {
    padding-top: 12px;
    display: flex;
    justify-content: flex-start;
}

.main-content .about .btn .contact-me {
    padding-left: 20px;
}

.main-content .about .btn button{
    height: 1.875rem;
    width: 6.25rem;
    border-radius: 25px;
    font-weight: 500;
    background-color: coral;
    color: var(--color);
    font-size: 12px;
    transition: 0.5s ease;
}

.main-content .about .btn button:hover {
    width: 110px;
}

.main-content .img {
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 36px;
    margin-right: 0;
    z-index: 0;
    grid-column: 3/4;
}

.main-content .img img {
    height: 550px;
    width: 510px;
    position: relative;
    bottom: 150px;
    right: -100px;
    border: 5px solid black;
    border-radius: 50%;
    background-color: coral;
}
/* .main-content .shape {
    background-color: coral;
    height: 550px;
    width: 550px;
    z-index: 0;
    border-radius: 50%;
    position: absolute;
    right: 203px;
    bottom: 35px;
    border: 8px solid black;  
} */

.main-content .shape-a {
    background-color: coral;
    height: 9.063rem;
    width: 70%;
    z-index: -2;
    border-radius: 0%;
    position: absolute;
    left: 14.688rem;
    bottom: -21.25rem;
    border: 5px solid black;  
}

/* about me section */

.about-heading {
    margin-top: 3rem;
    text-transform: uppercase;
}

.about-heading h2 {
    border: 3px solid black;
    position: relative;
    left: 45%;
    height: 30px;
    width: 150px;
    text-align: center;
    padding-top: 2px;
    color: white;
    font-weight: 400;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.6s ease-in-out;
    word-spacing: 5px;
}

.about-heading h2:hover {
    color: black;
    /* border: 3px solid white; */
}

.about-section {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr 10rem;
    height: 500px;
    width: 90%;
    background-color: white;
    margin: auto;
    margin-top: 3rem;
    border: 5px solid black;
    border-radius: 60px;
}

.about-section .img-1 {
    grid-column: 2/3;
}

.about-section .img-1 img {
    height: 440px;
    width: 400px;
    position: relative;
    /* bottom: -40px; */
    background-color: coral;
    border: 4px solid  black;
    border-radius: 15px;
    left: 70px;
    top: 25px;
}

.about-section .about-me {
    grid-column: 3/4;
    padding-left: 50px;
    padding-right: 25px;
    padding-top: 100px;
}

.about-section .about-me h3 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 13px;
    padding-bottom: 8px;
    padding-top: 8px;
    color: coral;
}

.about-section .about-me h2 {
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.about-section .about-me p {
    text-align: start;
    font-weight: 400;
    font-size: 14px;
}

.about-section .about-me p span {
    color: coral;
    font-size: 15px;
    font-weight: 500;
}


/* try to responsive */

@media only screen and (max-width:600px) {
    body {
        background-color:darkolivegreen;
        height: 100%;
        width: 600px;
    }

    .nav-bar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        display: none;
    }

    .nav-bar label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
    }

    #toggler:checked ~ .nav-bar-menu {
        max-height: 100%;
    }

    .main-content {
        height: 800px;
        width: 90%;
        margin: auto;
        border: 5px solid black;
        display: grid;
        grid-template-rows: 5rem 450px 300px 5rem;
        margin-top: 1%;
    }

    .main-content .img {
        margin-top: auto;
        margin-left: auto;
        position: relative;
        right: 107%;
        top: 25%;
        /* margin-bottom: 36px; */
        margin-right: 0;
        z-index: 0;
        grid-row: 2/3;
    }

    .main-content .img img {
        height: 450px;
        width: 410px;
        border: 5px solid black;
        border-radius: 50%;
        background-color: coral;
    }

    .main-content .about {
        grid-row: 3/4;
        width: 100%;
        margin-top: 0px;
        z-index: 0;
        position: relative;
        left: -10%;
        
    }

    .main-content .about h2 {
        font-size: 22px;
        font-weight: 400;
    }

    .main-content .about h1 {
        font-size: 30px;
        font-weight: 700;
    }

    .main-content .about p {
        font-size: 18px;
        font-weight: 400;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .main-content .about .place {
        font-size: 12px;
    }

    .about-heading h2 {
        position: relative;
        left: 38%;
    }

    .about-heading {
        margin-top: 2rem;
        text-transform: uppercase;
    }

    .main-content .shape-a {
        height: 105px;
        width: 60%;
        z-index: -2;
        left: 20%;
        bottom: 235px;
    }

    .about-section {
        display: grid;
        grid-template-rows: 5rem 400px 400px 5rem;
        grid-template-columns: 5rem 1fr 1fr 5rem;
        height: 900px;
        width: 90%;
        margin-top: 2rem;
    }

    .about-section .img-1 {
        grid-row: 3/4;
    }

    .about-section .img-1 img {
        height: 370px;
        width: 340px;
        position: relative;
        /* bottom: -40px; */
        background-color: coral;
        border: 4px solid  black;
        border-radius: 15px;
        left: 15px;
        top: 0px;
    }

    .about-section .about-me {
        grid-row: 2/3;
        grid-column: 2/4;
        padding-left: 20px;
        /* padding-right: 25px; */
        padding-top: 10px;
    }

    .about-section .about-me p {
        font-size: 16px;
    }

    .about-section .about-me p span {
        font-size: 17px;
    }
}